---
---

table {
 margin: 10px 0px 30px 0px;
 padding: 10px 5px 10px 5px;
}

th, td {
  padding: 10px 100px 10px 5px;
  border-bottom: 1px solid #ddd;
}

p { 
  line-height: 25px;
  padding-top: 5px;
  font-size: 16px;
}

li { 
  line-height: 25px;
}

code {
  background-color: #f5f5f5;
  color: #555;
}

.text-muted {
  margin-left: 0px;
}

tr:nth-child(even) {background: #F3F3F3}
tr:nth-child(odd) {background: #FFF}

.highlight {
  padding-left: 8px;
  padding-bottom: 4px;
}

.post-title-home {
  a {
    color: inherit;
  }
}

.footer {
  margin: 10px 0 30px;
  font-size: 12px;
  color: #aaa;
}

// index.html

#welcome-jumbotron {
  padding-top: 32px;
  padding-bottom: 32px;
}

#news-header {
  margin-bottom: 15px;
}

#news-archive-link {
  margin-top: 15px;
  margin-bottom: 10px;
}

// posts

#post-header {
  margin-top: 20px;
}

#post-content {
  margin-bottom: 20px;
}

// page 
#page-content {
  margin-top: 20px;
}

@media(max-width: 800px) {
  #fluo-img {
    height: 30px;
  }
}

@import "pygments-tomorrow";
