---
---

@import "syntax-highlighting";

table {
 margin: 10px 0px 30px 0px;
 padding: 10px 5px 10px 5px;
}

th, td {
  padding: 10px 100px 10px 5px;
  border-bottom: 1px solid #ddd;
}

p {
  line-height: 25px;
  padding-top: 5px;
  font-size: 16px;
}

li {
  line-height: 25px;
}

code {
  background-color: #f5f5f5;
  color: #555;
}

.text-muted {
  margin-left: 0px;
}

.doc-sidebar-link {
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 0px;
}

tr:nth-child(even) {background: #F3F3F3}
tr:nth-child(odd) {background: #FFF}

.post-title-home {
  a {
    color: inherit;
  }
}

footer {
    margin: 10px 0 30px;
  color: #aaa;
  padding: 8px 8px;
  text-align: center;
  vertical-align: middle;
}

footer > hr {
  width: 80%;
}

footer > p {
  line-height: 1.5em;
  padding-top: 1em;
  font-size: 12px;
  width: 60%;
  margin: auto;
}

#asf-logo {
  float: left;
}

// index.html

#welcome-jumbotron {
  padding-top: 32px;
  padding-bottom: 32px;
}

#news-header {
  margin-bottom: 15px;
}

#news-archive-link {
  margin-top: 15px;
  margin-bottom: 10px;
}

// posts

#post-header {
  margin-top: 20px;
}

#post-content {
  margin-bottom: 20px;
}

// page
#page-content {
  margin-top: 20px;
}

/* Turn off sidebar affix for small screens */
@media (max-width: 975px) {
  .affix {
    position: static;
  }
}

@media(max-width: 800px) {
  #fluo-img {
    height: 30px;
  }
}
