---
title: Blog Archive
permalink: "/blog-archive/"
---
<div id="archive">
  <h2 id="archive-header">Blog Archive</h2>
{% for post in site.categories.blog %}
  {% assign post_month_year = post.date | date: "%B %Y" %}
  {% assign newer_post_month_year = post.next.date | date: "%B %Y" %}
  {% if post_month_year != newer_post_month_year %}
    <h3 class="archive-section-header">
      {{ post_month_year }}
    </h3>
  {% endif %}
  <p>
    <a href="{{ post.url | prepend:site.baseurl}}" class="post-title-archive">{{ post.title }}</a>
    <small class="text-muted">{{ post.date | date_to_string }}</small>
  </p>
{% endfor %}
</div>
