---
title: Fluo Release Notes Archive
permalink: "/release-notes/"
---

<div id="archive">
  <h2 id="archive-header">{{ page.title }}</h2>
{% for release in site.categories.release-notes %}
  {% assign release_month_year = release.date | date: "%B %Y" %}
  {% assign newer_release_month_year = release.next.date | date: "%B %Y" %}
  {% if release_month_year != newer_release_month_year %}
    <h3 class="archive-section-header">
      {{ release_month_year }}
    </h3>
  {% endif %}
  <p>
    <small class="text-muted">{{ release.date | date_to_string }}</small> &nbsp;
    <a href="{{ site.baseurl }}/release-notes/{{ release.version }}/">{{ release.version }}</a>
  </p>
{% endfor %}
</div>
