---
layout: default
---
<div class="post-header">
  <h2>{{ page.title }}</h2>
  <p class="text-muted">{{ page.date | date_to_string }}</p>
  <p><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a></p>
</div>

{% if page.historical %}
  <div class="alert alert-danger" role="alert">This release was made before Apache incubation and is not endorsed by the ASF.</div>
{% endif %}

<div class="post-content">
  {{ content }}
</div>

<div>
  <p class="text-muted">View all releases in the <a href="{{ site.baseurl }}/release/">release archive</a></p>
</div>
